<html>
    <head>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
        <script>
            io(window.location.origin);
        </script>
        <title>res.render() Demo</title>
    </head>
    <body>
        <h2>Welcome to server</h2>
    </body>
</html>